h1, h2, .create-form, li, button {
    text-align: center;
    font-family: 'Walter Turncoat', cursive;
    color: rgb(247, 247, 247);
    font-weight: bolder;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.kahuna-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color:  #89b7c9;
}

body {
    background-color: #89b7c9;
 }

 button {
    background-color: red;
 }